* {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  vertical-align: baseline
}

a {
  text-decoration: none
}

footer {
  display: block
}

button {
  margin: 0
}

html {
  background-color: #fff;
  font-family: "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-size: 100%;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

a {
  text-decoration: none;
  color: #0076cb;
  cursor: pointer
}

a:hover {
  text-decoration: underline
}

a:active {
  color: #003283
}

a:visited {
  color: #0076cb
}

a:focus {
  color: #0076cb
}

input[type=password],
input[type=text] {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-size: 1rem;
  padding: 5px 6px;
  padding: .3125rem .375rem;
  min-width: 182px;
  min-width: 11.375rem;
  -webkit-appearance: none;
  font-family: "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  outline: 0;
  border: 1px solid #bbb;
  color: #333
}

input[type=password]:focus,
input[type=text]:focus {
  -moz-transition: box-shadow .3s ease-out;
  -o-transition: box-shadow .3s ease-out;
  -webkit-transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
  -moz-box-shadow: 0 0 3px #008fd3;
  -webkit-box-shadow: 0 0 3px #008fd3;
  box-shadow: 0 0 3px #008fd3;
  border: 1px solid #008fd3;
  background-color: #fff
}

.ids-main {
  background-color: #fff
}

.ids-container {
  max-width: 720px;
  margin: 0 auto
}

.ids-container:after {
  content: "";
  display: table;
  clear: both
}

@media only screen and (max-width:804px) {
  .ids-container {
    margin: 0 42px;
    margin: 0 2.625rem
  }
}

@media only screen and (max-width:719px) {
  .ids-container {
    margin: 0 20px;
    margin: 0 1.25rem
  }
}

.ids-main__content {
  padding-top: 36px;
  padding-top: 2.25rem;
  padding-bottom: 36px;
  padding-bottom: 2.25rem;
  min-height: 0;
  min-height: 0
}

.ids-heading-1 {
  font-size: 38px;
  font-size: 2.375rem;
  margin-bottom: 12px;
  margin-bottom: .75rem
}

.ids-fieldset {
  padding-bottom: 18px;
  padding-bottom: 1.125rem
}

.ids-input-group {
  padding-bottom: 8px;
  padding-bottom: .5rem;
  position: relative;
  line-height: 1
}

.ids-label-container {
  margin-bottom: 4px;
  margin-bottom: .25rem
}

.ids-input-group--text .ids-label-container {
  margin-top: .4em
}

.ids-label {
  font-size: 15px;
  font-size: .9375rem;
  line-height: 1;
  color: #555
}

.ids-control-container {
  position: relative
}

.ids-control-container input[type=password],
.ids-control-container input[type=text] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 2px;
  margin-bottom: .125rem;
  width: 100%
}

.ids-form {
  max-width: 720px;
  max-width: 45rem
}

input.ids-input--reveal {
  padding-right: 28px
}

.ids-input-reveal {
  background-repeat: no-repeat;
  position: absolute;
  background-size: 18px;
  width: 18px;
  height: 18px;
  top: 6px;
  right: .45rem;
  z-index: 999999
}

.ids-control-container--reveal ::-ms-reveal {
  display: none
}

.ids-footer {
  padding-bottom: 16px;
  padding-bottom: 1rem
}

.ids-footer__inner {
  max-width: 720px;
  margin: 0 auto;
  padding-top: 5px;
  padding-top: .3125rem;
  border-top: 1px solid #ccc
}

.ids-footer__inner:after {
  content: "";
  display: table;
  clear: both
}

@media only screen and (max-width:804px) {
  .ids-footer__inner {
    margin: 0 42px;
    margin: 0 2.625rem
  }
}

@media only screen and (max-width:719px) {
  .ids-footer__inner {
    margin: 0 20px;
    margin: 0 1.25rem
  }
}

.ids-footer__logo-container {
  float: left
}

.ids-footer__logo-container:after {
  content: "";
  display: table;
  clear: both
}

.ids-footer__logo {
  width: 144px;
  height: 38px
}

.ids-footer__links {
  font-size: 12px;
  font-size: .75rem;
  margin-top: 8px;
  margin-top: .5rem;
  float: right;
  max-width: 450px;
  text-align: right
}

@media only screen and (max-width:634px) {
  .ids-footer__links {
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
    max-width: none;
    text-align: left;
    float: none
  }
}

.ids-button,
button {
  background-color: #ddd;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  padding: 8px 12px;
  padding: .5rem .75rem;
  line-height: 120%;
  text-align: center;
  text-decoration: none;
  min-width: 90px;
  min-width: 5.625rem;
  -webkit-font-smoothing: antialiased
}

.ids-button:hover,
button:hover {
  background-color: #c9c9c9;
  border-color: #c9c9c9;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  text-decoration: none
}

.ids-button:active,
button:active {
  background-color: #b9b9b9;
  border-color: #b9b9b9;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  text-decoration: none
}

.ids-button:visted,
a.ids-button:visted,
button:visted,
input[type=button]:visted,
input[type=submit]:visted {
  color: #333;
  text-decoration: none
}

@media screen and (high-contrast:active) {

  .ids-button,
  button {
    background: #000;
    border: 12px solid #fff
  }

  .ids-button:focus,
  button:focus {
    outline: 3px solid #000
  }
}

@media screen and (-webkit-high-contrast:active) {

  .ids-button,
  button {
    background: #000;
    border: 12px solid #fff
  }

  .ids-button:focus,
  button:focus {
    outline: 3px solid #000
  }
}

@media screen and (-moz-high-contrast:active) {

  .ids-button,
  button {
    background: #000;
    border: 12px solid #fff
  }

  .ids-button:focus,
  button:focus {
    outline: 3px solid #000
  }
}

@media screen and (-ms-high-contrast:active) {

  .ids-button,
  button {
    background: #000;
    border: 12px solid #fff
  }

  .ids-button:focus,
  button:focus {
    outline: 3px solid #000
  }
}

@media screen and (-o-high-contrast:active) {

  .ids-button,
  button {
    background: #000;
    border: 12px solid #fff
  }

  .ids-button:focus,
  button:focus {
    outline: 3px solid #000
  }
}

.ids-button--primary {
  background-color: #008fd3;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #008fd3;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  padding: 8px 12px;
  padding: .5rem .75rem;
  line-height: 120%;
  text-align: center;
  text-decoration: none;
  min-width: 90px;
  min-width: 5.625rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 700;
  font-size: .97em
}

.ids-button--primary:hover {
  background-color: #0073aa;
  border-color: #0073aa;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
  text-decoration: none
}

.ids-button--primary:active {
  background-color: #005f8c;
  border-color: #005f8c;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  text-decoration: none
}

.ids-button--primary:visted,
a.ids-button--primary:visted {
  color: #fff;
  text-decoration: none
}

@media screen and (high-contrast:active) {
  .ids-button--primary {
    background: #000;
    border: 12px solid #fff
  }

  .ids-button--primary:focus {
    outline: 3px solid #000
  }
}

@media screen and (-webkit-high-contrast:active) {
  .ids-button--primary {
    background: #000;
    border: 12px solid #fff
  }

  .ids-button--primary:focus {
    outline: 3px solid #000
  }
}

@media screen and (-moz-high-contrast:active) {
  .ids-button--primary {
    background: #000;
    border: 12px solid #fff
  }

  .ids-button--primary:focus {
    outline: 3px solid #000
  }
}

@media screen and (-ms-high-contrast:active) {
  .ids-button--primary {
    background: #000;
    border: 12px solid #fff
  }

  .ids-button--primary:focus {
    outline: 3px solid #000
  }
}

@media screen and (-o-high-contrast:active) {
  .ids-button--primary {
    background: #000;
    border: 12px solid #fff
  }

  .ids-button--primary:focus {
    outline: 3px solid #000
  }
}

.ids-button-group {
  padding: 12px 0;
  padding: .75rem 0
}

.ids-button-group:after {
  content: "";
  display: table;
  clear: both
}

.ids-button-group .ids-button {
  margin-right: 5px;
  margin-right: .3125rem;
  float: right
}

.ids-button-group .ids-button:first-child {
  margin-right: 0
}

@media only screen and (max-width:600px) {
  .ids-button-group .ids-button {
    display: block;
    width: 100%;
    margin: 0 0 16px 0;
    margin: 0 0 1rem 0;
    padding: 12px 10px;
    padding: .75rem .625rem
  }
}

.ids-button-group--centered {
  text-align: center
}

.ids-button-group--centered .ids-button {
  float: none
}

.ids-login-widget .ids-fieldset {
  margin-bottom: 0
}

.ids-login-widget .ids-input-group:last-child {
  margin-bottom: 0
}

@media only screen and (max-width:600px) {
  .ids-login-widget .ids-label-container {
    display: none
  }
}

.ids-login-container:after {
  content: "";
  display: table;
  clear: both
}

.ids-login-sp {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 72px;
  padding-top: 4.5rem;
  padding-right: 28px;
  padding-right: 1.75rem;
  float: left;
  width: 50%
}

@media only screen and (max-width:600px) {
  .ids-login-sp {
    margin-bottom: 18px;
    margin-bottom: 1.125rem;
    padding-top: 0;
    padding-right: 0;
    width: 100%
  }
}

.ids-login-sp__logo {
  text-align: center
}

.ids-login-sp__logo img {
  max-height: 70px;
  width: auto;
  max-width: 100%
}

@media only screen and (max-width:600px) {
  .ids-login-sp__logo img {
    max-height: 70px
  }
}

.ids-login-login {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 320px;
  min-height: 20rem;
  float: left;
  width: 50%
}

@media only screen and (max-width:600px) {
  .ids-login-login {
    width: 100%
  }
}

.ids-login-login--border {
  padding-left: 32px;
  padding-left: 2rem;
  border-left: 1px solid #ddd
}

@media only screen and (max-width:600px) {
  .ids-login-login--border {
    padding-left: 0;
    border-left: none
  }
}

.ids-heading-1--login {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1
}

@media only screen and (max-width:600px) {
  .ids-heading-1--login {
    display: none
  }
}

.ids-button--login {
  min-width: 120px
}

.ids-input-group--login {
  margin-bottom: 16px;
  margin-bottom: 1rem
}

.ids-input-group--login input[type=password],
.ids-input-group--login input[type=text] {
  margin-bottom: 0
}

.ids-button-group--login {
  margin-bottom: 12px;
  margin-bottom: .75rem
}

.ids-fieldset--login {
  margin-bottom: 0
}

.ids-fieldset--login .ids-input-group:last-child {
  margin-bottom: 0
}

@media only screen and (max-width:600px) {
  .ids-input-group--user {
    padding-bottom: 0;
    margin-bottom: 0
  }

  .ids-input-group--user .ids-input {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    padding: 8px 12px;
    padding: .5rem .75rem
  }

  .ids-input-group--user .ids-input:focus {
    -moz-box-shadow: #008fd3 0 0 3px 0 inset;
    -webkit-box-shadow: #008fd3 0 0 3px 0 inset;
    box-shadow: #008fd3 0 0 3px 0 inset
  }

  .ids-input-group--user .ids-input-clear {
    top: 11px
  }

  .ids-input-group--password .ids-input {
    -moz-border-radius-bottomleft: 6px;
    -webkit-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
    padding: 8px 28px 8px 12px;
    padding: .5rem 1.75rem .5rem .75rem;
    border-top: none
  }

  .ids-input-group--password .ids-input:focus {
    border-top: none;
    -moz-box-shadow: #008fd3 0 0 3px 0 inset;
    -webkit-box-shadow: #008fd3 0 0 3px 0 inset;
    box-shadow: #008fd3 0 0 3px 0 inset
  }

  .ids-input-group--password .ids-input-clear {
    top: 10px
  }

  .ids-input-reveal {
    top: 7px
  }
}

.is-hide .ids-input-reveal {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%3Cpath%20fill%3D%22%23475E75%22%20fill-rule%3D%22evenodd%22%20d%3D%22M7.99994%2012C7.99994%209.79086%209.7908%208%2011.9999%208C14.2091%208%2015.9999%209.79086%2015.9999%2012C15.9999%2014.2091%2014.2091%2016%2011.9999%2016C9.7908%2016%207.99994%2014.2091%207.99994%2012ZM11.9999%2010C10.8954%2010%209.99994%2010.8954%209.99994%2012C9.99994%2013.1046%2010.8954%2014%2011.9999%2014C13.1045%2014%2013.9999%2013.1046%2013.9999%2012C13.9999%2010.8954%2013.1045%2010%2011.9999%2010Z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%20%20%3Cpath%20fill%3D%22%23475E75%22%20fill-rule%3D%22evenodd%22%20d%3D%22M4.04303%207.79288C5.86485%205.97113%208.60694%204%2011.9999%204C15.3929%204%2018.135%205.97113%2019.9569%207.79288C20.8805%208.71646%2021.6031%209.63657%2022.0948%2010.325C22.3413%2010.6701%2022.5315%2010.9592%2022.6614%2011.1645C22.7264%2011.2673%2022.7764%2011.3492%2022.811%2011.4068C22.8283%2011.4357%2022.8418%2011.4585%2022.8513%2011.4748L22.8627%2011.4943L22.8662%2011.5003L22.8673%2011.5024C22.8675%2011.5027%2022.8682%2011.5038%2021.9999%2012C22.8682%2012.4962%2022.868%2012.4965%2022.8678%2012.4968L22.8662%2012.4996L22.8627%2012.5057L22.8513%2012.5252C22.8418%2012.5415%2022.8283%2012.5643%2022.811%2012.5931C22.7764%2012.6508%2022.7264%2012.7327%2022.6614%2012.8354C22.5315%2013.0408%2022.3414%2013.3299%2022.0949%2013.675C21.6032%2014.3634%2020.8806%2015.2835%2019.957%2016.2071C18.1352%2018.0289%2015.3931%2020%2011.9999%2020C8.60676%2020%205.86467%2018.0289%204.04288%2016.2071C3.1193%2015.2835%202.39672%2014.3634%201.90498%2013.675C1.65849%2013.3299%201.46838%2013.0408%201.33847%2012.8354C1.27348%2012.7327%201.22344%2012.6508%201.18884%2012.5931C1.17154%2012.5643%201.15809%2012.5415%201.14855%2012.5252L1.13718%2012.5057L1.1337%2012.4996L1.13252%2012.4976C1.13233%2012.4972%201.13171%2012.4962%201.99994%2012C1.13173%2011.5038%201.1319%2011.5035%201.13208%2011.5032L1.13372%2011.5003L1.1372%2011.4943L1.14857%2011.4748C1.15811%2011.4585%201.17156%2011.4357%201.18887%2011.4068C1.22347%2011.3492%201.27351%2011.2673%201.3385%2011.1645C1.46842%2010.9592%201.65855%2010.6701%201.90505%2010.325C2.39681%209.63657%203.11942%208.71646%204.04303%207.79288ZM1.99994%2012L1.13208%2011.5032C0.956381%2011.8106%200.956014%2012.1887%201.13171%2012.4962L1.99994%2012ZM3.17995%2012C3.27627%2012.1458%203.39409%2012.3188%203.53244%2012.5125C3.97822%2013.1366%204.63067%2013.9665%205.45709%2014.7929C7.13533%2016.4711%209.39324%2018%2011.9999%2018C14.6066%2018%2016.8646%2016.4711%2018.5428%2014.7929C19.3692%2013.9665%2020.0217%2013.1366%2020.4674%2012.5125C20.6058%2012.3188%2020.7236%2012.1458%2020.8199%2012C20.7236%2011.8542%2020.6058%2011.6812%2020.4674%2011.4875C20.0216%2010.8634%2019.3691%2010.0335%2018.5427%209.20712C16.8644%207.52887%2014.6065%206%2011.9999%206C9.39344%206%207.13552%207.52887%205.45722%209.20712C4.63077%2010.0335%203.97828%2010.8634%203.53247%2011.4875C3.39411%2011.6812%203.27628%2011.8542%203.17995%2012ZM21.9999%2012L22.8678%2012.4968C23.0435%2012.1893%2023.0439%2011.8113%2022.8682%2011.5038L21.9999%2012Z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E")
}